### INTERFACES


# Loopback interface
auto lo
iface lo inet loopback


# Public NIC - attached to bridge br-ex
auto eth0
iface eth0 inet static
address 8.8.8.103
netmask 255.255.255.0
gateway 8.8.8.1
dns-nameservers 8.8.8.8
dns-search ba.infn.it
broadcast 8.8.8.255


# Private NIC
auto eth1
iface eth1 inet static
	address 192.168.100.13
	netmask	255.255.255.0


# 2nd public NIC - attached to bridge br-ex2
auto eth2
iface eth2 inet manual
up ip address add 0/0 dev $IFACE
up ip link set $IFACE up
down ip link set $IFACE down



### BRIDGES


# Bridge for public-net - attached to eth2
auto br-ex2

#iface br-ex2 inet manual
#up ip address add 0/0 dev $IFACE
#up ip link set $IFACE up
#down ip link set $IFACE down

## Uncomment the next section if you need to assign an IP to the second public NIC
#iface br-ex2 inet static
#address 8.8.4.246
#netmask 255.255.255.0
#gateway 8.8.4.1
#dns-nameservers 8.8.4.8
#dns-search ba.infn.it
#broadcast 8.8.4.255
